@import url(normalize.css);
@import url(menu.css);

*{
     box-sizing: border-box;
}

#content {
    background: #CCC;
    box-shadow: 5px 5px 5px #777;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 75px 0 0 0;
    border-radius:  -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
}

.sub_content {
    text-align: left;
    padding: 25px;
    color: black;
    -webkit-box-shadow: 0px 2px 8px -1px rgba (0,0,0,0.24);
    background: white;
    margin: 19px;
    border-radius:  -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    box-shadow: 5px 5px 5px #777;
}

.center{
    width: 90%;
    margin: 0 auto;
}

h1 {
    font:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3vw;
    line-height: 4vw;
    color: #fff;
    text-align: center;
    background: linear-gradient(to bottom, #ff6600 0%, #800000 100%);
    border-radius: 75px;
    box-shadow: 5px 5px 5px #777;
    margin: 50px 0 0 10px;
}

h2 {
    font:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2vw;
    line-height: 2vw;
    color: #fff;
    text-align: center;
    background: linear-gradient(to bottom, #ff6600 0%, #800000 100%);
    border-radius: 75px;
    box-shadow: 5px 5px 5px #777;
    margin: 50px 0 0 10px;
}